.issueButton:hover {
    box-shadow: 0px 0px 10px #000;
    cursor: pointer;
    font-weight: bold;
}
.popupBasket {
    background-color: rgba(0,0,0,0.5);
    min-height:100%;
    position:fixed;
    top:0px;
    width:100%;
    z-index: 5;
}
.popupBasketContent {
    align-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    flex-flow: column;
    margin: 40px auto 0px auto;
    padding: 10px;
    width: 80%;
}
.basketProducts {
    background-color: white;
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}
.popupBasketContent .product {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.basketSum {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 25px 25px;
    background-color: white;
    height: 150px;
    margin-top: 10px;
    width: 100%;
}
.basketSum div:nth-child(n+6) {
    font-size: 35px;
}
.issueButton {
    grid-row: 1 / 3;
    grid-column: 3;
}
.basketHeader {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 20px;
}
.deleteFromOrder:hover {
    box-shadow: 0px 0px 10px #000;
    cursor: pointer;
    font-weight: bold;
}
.basket {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.basket div {
    padding-right: 5px;
}