.categoryName {
    display: flex;
    justify-content: flex-start;
    background-color: whitesmoke;
    height: 50px;
    position: sticky;
    font-size: 30px;
    text-align: center;
    top: 50px;
    width: 100%;
}
.createProduct {
    width: 50%;
}
.categoryHeader{
    display: flex;
    justify-content: flex-start;
    background-color: whitesmoke;
    height: 50px;
    position: sticky;
    font-size: 30px;
    text-align: center;
    top: 50px;
    width: 100%;
}

.category {
    align-content: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    min-height: 100%;
    height: 100%;
}